html{
  font-family: "Arial", sans-serif;
}
.header{
  padding: 1px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 18px;
}

#wrap{
    background: #FFFFFF;
    margin: 0 auto; 
    margin-top: 5px; 
    padding: 10px;
    border: 1px solid #DFDFDF;
    text-align: center;
}
  
/* Form & Input field styles */
  
form{
    margin-top: 10px;
}

#email, #password{
  margin: 0 auto;
}
  
form .submit_button{
    background: #F9F9F9;
    border: 1px solid #DFDFDF;
    padding: 8px;
}
  
input{
    border: 1px solid #DFDFDF;
    padding: 8px;
}
